@charset "utf-8"
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-image: linear-gradient(to right, red, blue);

}
main {
    margin: auto;
    background-color: white;
    color: black;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
}
p {
    text-align: justify;

}
h1 {
    color: red;
    text-align: center;
    text-shadow: 1px 1px 2px black

}