@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;

}

html, body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}
body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;

}
main {
    position: relative;
    height: 100vh;
    
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
iframe#tela {
    position: relative;
    top: 80px;
    left: 20px;

    width: 270px;
    height: 474px;
    background-size: cover;
}

section#redesocias > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

section#redesocias {
    text-align: right;
}
section#redesocias >a > img:hover {
    border: solid white 2px;
}